<div id="About" class="about-container">

  <div class="about-card tab">
    <div class="about-img-box animation-show">
      <%= image_tag "profile1.webp", class: 'about-image animation-show' %>
    </div>
    <div class="about-text animation-show">
      <h2 id="name">たきぶち♡あい</h2>
      <p>
        HSP気質で恋愛依存症。定着しない仕事先で転職を繰り返す日々。<br>
        そんな中、自律神経失調症を発症。心身の不調に悩まされ何度も命を絶とうとした過去でした。<br>
        そんなある時、友人からの勧めで、潜在意識学や心理学に興味を持ち同時に宇宙法則などのスピリチュアルを学び始めます。<br>
        そこから運命に流されるように“スピリチュアルカウンセラー”として仕事デビュー。<br>
        その後起業し"スピリチュアルコーチ"として3年間で約600名以上のクライアントさんに出逢い様々なお悩みや望みに合わせてサポートさせていただいております。</p>
      <br>
      <p>『本来の生き方・在り方に還り精神的・経済的自立そして愛と豊かさに満ちた人生を叶えていく』</p>
      <br>
      <p>
        をテーマに<br>
        これまで、私自身がパートナーシップ、仕事、お金に関する<br>
        様々な望みを叶えてきた体験を元にしながら<br>
        また幼い頃から繋がりが深い高次元の存在たちと共に<br>
        主にセッション、講座やワークショップ、コミュニティを通して<br>
        活動させていただいております。
      </p>
    </div>
  </div>

  <div class="about-overlay"></div>

</div>
