<section class="gallery1">

  <div class="gallery1-container">

    <%= image_tag 'net_flowers.webp', class: 'gallery-img1' %>

    <%= image_tag 'forest.webp', class: 'gallery-img1' %>

  </div>

</section>
