<section class="gallery">

  <div class="gallery-container animation-show">

    <div class="img-wrapper">
      <%= image_tag 'net_flowers.webp', class: 'gallery-img' %>
    </div>

    <div class="img-wrapper">
      <%= image_tag 'forest.webp', class: 'gallery-img' %>
    </div>

  </div>

</section>
