<div id="Home" class="hero">

  <div class="hero__left">

    <h1>たきぶち♡あい</h1>
    <h6>🦋愛・光・叡智を繫ぐ女神</h6>

    <div class="hero__btn">
      <a href="https://ai-cupidoflove-s2.my.canva.site/">
        <button class="btn">はじめに</button>
      </a>
    </div>

    <div class="media-icons">
      <a href="https://www.instagram.com/ai.lovemessenger.33333/">
        <i class="hero-media fa-brands fa-instagram"></i>
      </a>
      <a href="https://lin.ee/Ngx1BGq">
        <i class="hero-media fa-brands fa-line"></i>
      </a>
    </div>

  </div>

  <div class="hero__right">
    <div class="images">
      <%= image_tag "profile_img.webp", class: "hero-img1" %>
    </div>
  </div>

  <div class="hero-overlay"></div>

</div>
