<div class="hero">

  <div class="hero__left">
    <h1>Ai Cupid of Love</h1>
    <div class="hero__btn">
      <button class="btn">DISCOVERY CALL</button>
    </div>
  </div>

  <div class="hero__right">
    <div class="background"></div> 
    <div class="images">
      <%= image_tag "profile_img.webp", class: "hero-img1" %>
      <%= image_tag "back_design2.webp", class: "hero-img2" %>
    </div>
  </div>

</div>
