<nav>
  <div class="nav__header">
    <div class="nav__logo">
      <a href="#">AI</a>
    </div>
    <div class="nav__menu__btn" id="menu-btn">
      <i class="ri-menu-line"></i>
    </div>
  </div>
  <ul class="nav__links" id="nav-links">
    <li><a href="#">HOME</a></li>
    <li><a href="#">ABOUT ME</a></li>
    <li><a href="#">CONTACT</a></li>
  </ul>
  <div class="nav__btns">
    <button class="btn"><i class="ri-search-line"></i></button>
    <button class="btn"><i class="ri-shopping-bag-line"></i></button>
  </div>
</nav>

<div class="container">

  <div class="container__left">
    <h1>Ai Cupid of Love</h1>
    <div class="container__btn">
      <button class="btn">DISCOVERY CALL</button>
    </div>
  </div>

  <div class="container__right">
    <div class="background"></div> <!-- Add this div for background animation -->
    <div class="images">
      <%= image_tag "profile_img.webp", class: "tent-1" %>
      <%= image_tag "back_design2.webp", class: "tent-2" %>
    </div>
  </div>

  <div class="location">
    <span><i class="ri-map-pin-2-fill"></i></span>
    NEXT SEMINARS
  </div>

  <div class="socials">
    <span>
      <a href="#"><i class="ri-facebook-fill"></i></a>
    </span>
    <span>
      <a href="#"><i class="ri-instagram-line"></i></a>
    </span>
    <span>
      <a href="#"><i class="ri-twitter-fill"></i></a>
    </span>
  </div>

</div>

<script src="https://unpkg.com/scrollreveal"></script>
