<section id="Menu" class="menu">

  <div class="menu-container">

    <h1 class="menu-header animation-show">Menu</h1>

    <div class="menu-card-container">

    <a href="https://ai-cupidoflove-s2.my.canva.site/session-menu">
      <div class="menu-card animation-show">
        <%= image_tag 'consultation1.webp', class: 'menu-img' %>
        <div class="menu-card-content">

          <p class="menu-text1">
            ビジネス・起業<br>
            仕事・志事（使命）<br>
            人間関係<br>
            恋愛・結婚・パートナーシップ<br>
            心身（肉体、エネルギー体面）<br>
            お金<br>

            <br>

            お悩み・目的に合わせて3つの個人セッションをご提供させていただいております<br>

            <br>
            必要に応じて、ブロック解除や潜在意識の書き換え、エネルギーヒーリング、パラレル移行などを行いながら高次元の存在たちもお繋ぎしてお悩みから解放され、望みを実現するためのサポートをさせていただきます<br>

            <br>

            詳細・お申込みはこちらをタップしてください<br>
            (別ページにリンクします)<br>
            ※尚、今後セッション内容変更する可能性もありますので現在ご提供中のセッションはリンクページにてご確認ください<br>
          </p>

          <p class="menu-text2">
            ビジネス・起業<br>
            仕事・志事（使命）<br>
            人間関係<br>
            恋愛・結婚・パートナーシップ<br>
            心身（肉体、エネルギー体面）<br>
            お金<br>

            <br>

            お悩み・目的に合わせて<br>
            3つの個人セッションを<br>
            ご提供させていただいております<br>

            <br>
            必要に応じて、ブロック解除や<br>
            潜在意識の書き換え、<br>
            エネルギーヒーリング、<br>
            パラレル移行などを行いながら<br>
            高次元の存在たちもお繋ぎして<br>
            お悩みから解放され、<br>
            望みを実現するための<br>
            サポートをさせていただきます<br>

            <br>

            詳細・お申込みはこちらを<br>
            タップしてください<br>
            (別ページにリンクします)<br>
            ※尚、今後セッション内容変更する<br>
            可能性もありますので<br>
            現在ご提供中のセッションは<br>
            リンクページにてご確認ください<br>
          </p>

        </div>
      </div>
    </a>

    </div>

    <div class="menu-overlay"></div>

  </div>

</section>
