<section id="Menu" class="menu">

  <div class="menu-container">

    <h1 class="menu-header animation-show">Menu</h1>

    <div class="menu-card-container">

      <div class="menu-card animation-show">
        <%= image_tag 'tea.webp', class: 'menu-img' %>
        <div class="menu-card-content">
          <h3>Option One</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit dignissim purus non pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent porttitor vulputate finibus. Vivamus mollis felis eget quam pellentesque, at pulvinar est lobortis.</p>
        </div>
      </div>

      <div class="menu-card animation-show">
        <%= image_tag 'tea.webp', class: 'menu-img' %>
        <div class="menu-card-content">
          <h3>Option Two</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit dignissim purus non pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent porttitor vulputate finibus. Vivamus mollis felis eget quam pellentesque, at pulvinar est lobortis.</p>
        </div>
      </div>

    </div>

    <div class="menu-overlay"></div>

  </div>

</section>
