<nav>
  <div class="nav__header">

    <%= image_tag "logo2.webp", class: 'logo-icon' %>

    <div class="nav__menu__btn" id="menu-btn">
      <i class="fas fa-bars"></i>
    </div>

  </div>

  <ul class="nav__links" id="nav-links">
    <li><a href="#Home">HOME</a></li>
    <li><a href="#About">ABOUT ME</a></li>
    <li><a href="#Menu">MENU</a></li>
    <li><a href="#Contact">CONTACT</a></li>
  </ul>

  <%= image_tag "logo.webp", class: 'logo-icon logo-icon2' %>

</nav>
