<nav>
  <div class="nav__header">
    <div class="nav__logo">
      <a href="#">AI</a>
    </div>
    <div class="nav__menu__btn" id="menu-btn">
      <i class="ri-menu-line"></i>
    </div>
  </div>
  <ul class="nav__links" id="nav-links">
    <li><a href="#">HOME</a></li>
    <li><a href="#">ABOUT ME</a></li>
    <li><a href="#">CONTACT</a></li>
  </ul>
  <div class="nav__btns">
    <button class="btn"><i class="fa-brands fa-instagram"></i></i></button>
  </div>
</nav>
