.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f0e5;
  //background-image: url(/images/background2.webp);
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  border: 5px outset lightgray;
  padding: 2rem;
  margin: 0 5rem;
  gap: 5rem;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.hero__left {
  padding-inline: 1rem;
  text-align: left;
  z-index: 20;
}

.hero__left h1 {
  font-size: 4em;
  line-height: 90px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: #473c34;
}

.hero__left h6 {
  font-size: 1.8em;
  font-family: "Cormorant Garamond", serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: #473c34;
}

.hero__left .btn {
  margin-top: 0.5rem;
  padding: 1rem 2rem;
  letter-spacing: 2px;
  border-radius: 5rem;
  background-color: #FCABD4;
  color: #fff;
  border: 3px outset;
  width: 50%;
  font-size: 1.3em;
}

.hero__left .btn:hover {
  color: var(--text-dark);
  background-color: var(--primary-color);
}

.media-icons {
  width: 50%;
  margin-top: 1rem;
}

.hero-media {
  //position: absolute; /* Position it relative to the .hero container */
  //bottom: 10px; /* Set distance from the bottom */
  //left: 50%; /* Center horizontally */
  //transform: translateX(-50%); /* Adjust for perfect centering */
  font-size: 2.5rem; /* Adjust size if necessary */
  color: #473c34; /* Customize color */
  margin-right: 1rem;
}

.hero__right {
  position: relative;
  display: flex;
  gap: 2rem;
}


@keyframes show {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 2rem);
  }
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-img1 {
  width: 25vw;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}


/* Responsive Media Queries */

@media all and (max-width: 1200px) {
  .hero {
    gap: 7rem;
    padding: 3rem;
  }
  .hero__left h1 {
    font-size: 3.5em;
  }

}

@media all and (max-width: 1024px) {
  .hero__left .btn {
    padding: 1rem;
  }
  .hero__left h1 {
    font-size: 2.5em;
  }
  .hero__left h6 {
    font-size: 1.4em;
  }
}

@media all and (max-width: 800px) {
  .hero {
    gap: 3rem;
    flex-direction: column-reverse;
  }
  .hero__right {
    width: 100%;
    justify-content: center;
  }
  .hero-img1 {
    width: 40vw;
  }
  .hero__left {
    text-align: center;
  }
  .hero__left .btn {
    margin-bottom: 1rem;
  }
  .hero__left h1, .hero__left .h1 {
    line-height: 4rem;
  }
  .media-icons {
    width: 100%;
  }
}

@media all and (max-width: 600px) {
  .hero {
    margin: 0 2rem;
  }
  .hero-img1 {
    width: 50vw;
  }
}

@media all and (max-width: 435px) {
  .hero-img1 {
    width: 70vw;
  }
  .hero__left h1 {
    font-size: 2em;
  }
  .hero__left h6 {
    font-size: 1.5em;
  }
  .hero__left .btn {
    width: 100%;
  }
}

@media all and (max-width: 400px) {
  .hero {
    margin: 0 1rem;
  }
}

@media all and (max-width: 385px) {
  .hero__left h1 {
    font-size: 1.8em;
  }
}
