.menu {
  text-align: center;
  color: #473c34;
  margin: 5rem 0;
}

.menu-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.menu-container h2 {
  margin-bottom: 2rem;
}

.menu-card-container {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  gap: 5rem;
}

.menu-card {
  align-items: center;
  flex-direction: column;
  display: flex;
  border: 5px outset lightgray;
  border-radius: 2rem;
  width: 25rem;
  background-color: #f1f0e5;
}

.menu-img {
  margin-top: 1rem;
  width: 90%;
  border-radius: 2rem;
}

.menu-card-content {
  padding: 2rem;
}
